<!DOCTYPE html>
<html>
    <head>
        <title>picksabay express</title>
    </head>
    <body>
        <h1>picks a bay eckspress</h1>
        
        <form action="/results">
            Keywerd: <input type="text" name="keyword">
            <button>search</button>
            
        </form> <br>
        
        <p>this is an image</p>
        <img src='<%=image%>' width="300">
    </body>
</html>