            .images {
                display: flex;
                justify-content: center;
            }
            
            h1 {
                font-family: courier;
            }
            
            #likes {
                font-family: courier;
            }
            
            #pic {
                padding: 20px;
            }
            
            img {
                border-radius:12%;
            }
